---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects </div>
  </div>

  <HorizontalCard
    title="Tu Tiempo"
    img="/tutiempo.jpg"
    desc="Pron贸stico del tiempo en cualquier ciudad que elijas"
    url="https://juanhdezz.github.io/app_tiempo/"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Bot convertidor de Youtube a MP3"
    img="/y2mp3.jpg"
    desc="Bot programado en Python que convierte cualquier video de YouTube a MP3."
    url="https://t.me/youtube_a_MP3_bot"
  />

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects Header</div>
  </div> -->

  <HorizontalCard
    title="RecipeScraper"
    img="/RecipeScrapper.jpg"
    desc="Aplicaci贸n Python de web scrapping de recetas de cocina."
    url="https://github.com/juanhdezz/recetas"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="RoomRadar"
    img="/capRoomRadar.jpg"
    desc="Aplicaci贸n web para comparar precios de hoteles de Airbnb y Google Travel."
    url="https://github.com/juanhdezz/RoomRadar-Scrapper"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Detecci贸n de Fraude en Transacciones de Cr茅dito"
    img="/creditfraud.jpg"
    desc="Aplicaci贸n basada en machine learning para detectar transacciones fraudulentas.Encuentra el informe del An谩lisis en mi repo de GitHub "
    url="https://credit-fraud-detection-transactions.streamlit.app/"
    badge="NEW"
  />
</BaseLayout>
