---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Juan Hernández
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://juanhdezz.github.io" target="_blank" class="font-bold">Juan Hernandez</a> 
  </div>
</footer>
<style></style>
